div#index-page-container {
    --index-page-container-height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: rgb(245, 245, 245);

}

div#index-page-bg {
    position: absolute;
    background-image: url('https://patchwiki.biligame.com/images/bangdream/5/5b/9eyud0atxb21umz3oyh8j235me9h3wz.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: var(--index-page-container-height);
    z-index: -10;
}

div#index-page-bg-mask {
    position: absolute;
    width: 100%;
    height: var(--index-page-container-height);
    z-index: -10;
}
html[data-theme='light'] div#index-page-bg-mask {
    background-color: #f8ecf530;
}
html[data-theme='dark'] div#index-page-bg-mask {
    background-color: #00000080;
}

div#index-page-main {
    height: var(--index-page-container-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#index-page-main * {
    margin: 5px;
}
div#index-page-main #logo span{
font-size: 50px;
}
div#index-page-main #logo {
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 5px 5px 10px #000;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

div#index-page-main #logo * {
    display: inline-block;
    margin: 0 10px;
}

div#index-page-main #index-page-description {
    font-size: 1.5em;
    margin-top: 0;
    text-shadow: 5px 5px 10px #000;
}

div#index-page-main #index-page-button {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 10px #000);
    transition: all 0.2s;
}

div#index-page-button-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width:576px) {
    div#index-page-main #logo {
        font-size: 60px;
    }

    div#index-page-main #logo span{
        font-size: 0.5em;
        }

    div#index-page-main #index-page-description {
        font-size: 1.1em;
    }
    div#index-page-main #index-page-button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;  /* 设置为纵向排列 */
        filter: drop-shadow(5px 5px 10px #000);
        transition: all 0.2s;
    }
    
    div#index-page-button-container {
        display: flex;
        flex-direction: column;  /* 设置为纵向排列 */
        align-items: center;
    }

}