/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff99b8;
  --ifm-color-primary-dark: #ff709c;
  --ifm-color-primary-darker: #ff5c8d;
  --ifm-color-primary-darkest: #ff1f63;
  --ifm-color-primary-light: #ffc2d4;
  --ifm-color-primary-lighter: #ffd6e3;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff9ee0;
  --ifm-color-primary-dark: #ff75d3;
  --ifm-color-primary-darker: #ff60cc;
  --ifm-color-primary-darkest: #ff22b8;
  --ifm-color-primary-light: #ffc7ed;
  --ifm-color-primary-lighter: #ffdcf4;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
