/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #158472;
  --ifm-color-primary-dark: #137767;
  --ifm-color-primary-darker: #127061;
  --ifm-color-primary-darkest: #0f5c50;
  --ifm-color-primary-light: #17917d;
  --ifm-color-primary-lighter: #189883;
  --ifm-color-primary-lightest: #1bac94;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #d7f9f3;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7bead8;
  --ifm-color-primary-dark: #5ce5cf;
  --ifm-color-primary-darker: #4de3ca;
  --ifm-color-primary-darkest: #22d8ba;
  --ifm-color-primary-light: #9aefe1;
  --ifm-color-primary-lighter: #a9f1e6;
  --ifm-color-primary-lightest: #d7f9f3;
  --docusaurus-highlighted-code-line-bg: #158472;
}